*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.body{
    display: flex;
    overflow: hidden;

}

.sidebar{
    width: 350px;
    height: auto;
    color: #313131;
    background: #fff;
    box-shadow: 0px -10px 3px 10px rgb(248, 247, 247);

}

.sidebar-link{
    text-decoration: none;
    color: #54667a;
    white-space: nowrap;
    line-height: 40px;
    font-weight: 500;
    cursor: pointer;
}

.search_bar input{
    border-radius: 20px;

}

.user_icon{
    text-align: center;
    margin: 0px 20px;
}

.user_icon a{
    text-decoration: none;
}

.img-circle{
    border-radius: 20px;
}

.main_section{
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    background: #2f323e;
    color: #fff;
}

.container-fluid{
    background-color: #f1f4f7;
}

.white_box{
    background-color: #fff;
    padding: 20px;
    margin: 20px 10px 0px;
}

#white_box{
    background-color: #fff;
    padding: 20px;
    margin: 20px 10px;
}

#white_boxx{
    background-color: #fff;
    padding: 20px;
    margin: 20px 10px;
}

#white_boxes{
    background-color: #fff;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 15px;
}

.box-title{
    font-weight: 500;
    line-height: 30px;
    font-size: 18px;
}

.table{
    color: #575555;
    /* padding: 5px; */
}

footer a{
    text-decoration: none;
    color: rgb(68, 184, 238);
} 



/* user */

.user-content{
    text-align: center;
    background-color: rgb(207, 204, 204);
    padding: 20px 0px;
}

.user_profile{
    border-radius: 50px;
    width: 200px;
    margin-top: 20px;
}

.user_name{
    font-weight: 500;
    line-height: 30px;
    font-size: 16px;
}

.user_mail{
    font-weight: 400;
    line-height: 10px;
    font-size: 14px;
}

.profile_box{
    margin: 20px 10px;
}

.page_title{
    display: flex;
    justify-content: space-between;


}

.dropdown {
    
    position: relative;
    display: inline-block;
  }

.dropdown-content{
    display: none;
    position: absolute;
    right: 0px;
    background-color: white;
    width: 200px;
    padding: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    border-radius: 10px;
  }

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content h6{
    font-family: Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

.dropdown-content p{
    font-family: Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-size: small;
}

.profile_details{
    color: rgb(0, 183, 255);
    font-weight: 500;
    border: none;
    background-color: white;
    border-radius: 8px;
    padding: 7px 10px;
    font-size: 14px;
}

.profile_details:hover{
    background-color: rgb(0, 183, 255);
    color: white;
}

.logout{
    color: rgb(0, 183, 255);
    font-weight: 500;
    border: none;
    background-color: white;
    border-radius: 8px;
    padding: 7px 10px;
    font-size: 14px;

}

.logout a{
    color: rgb(0, 183, 255);
}

.logout a:hover{
    color: white;
}

.logout:hover{
    background-color: rgb(0, 183, 255);
    color: white;

}
