*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

.body{
    display: flex;
    overflow: hidden;


}

.sidebar{
    width: 350px;
    height: auto;
    color: #313131;
    background: #fff;
    /* box-shadow: 0px 0px 10px 5px rgb(228, 227, 227); */

}

.hide-menu{
    margin-left: 10px;
}

.sidebar-link{
    text-decoration: none;
    color: #54667a;
    white-space: nowrap;
    line-height: 40px;
    font-weight: 500;
    cursor: pointer;
}

.sidebar-item :hover{
    font-size: large;
    text-decoration: none;
    color: #54667a;
}

.search_input{
    border-radius: 20px 0px 0px 20px;
    border: none;
    width: 250px;
}

.fas{
    margin-top: 10px;
    color: #2f323e;
}

.search_btn{
    display: flex;
}

.search_icons{
    background-color: white;
    padding: 0px 10px;
    border-radius: 0px 20px 20px 0px;
}

.user_icon{
    text-align: center;
    margin: 0px 20px;
}

.user_icon a{
    text-decoration: none;
}

.img-circle{
    border-radius: 20px;
}

.main_section{
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    background: #2f323e;
    color: #fff;
}

.container-fluid{
    background-color: #e8eaec;
}

.white_box{
    background-color: #fff;
    padding: 20px;
    margin: 20px 10px 0px;
    border-radius: 10px;
}

.framework_input input{
    /* border: none;
    outline: none; */
    padding: 15px 50px;
    border-radius: 20px;

}

.textarea textarea{
    border-radius: 20px;
    padding: 40px;
}

#white_box{
    background-color: #fff;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 10px;

}

#white_boxx{
    background-color: #fff;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 10px;

}

#white_boxes{
    background-color: #fff;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 15px;
}
#icons_gap{
    display: flex;
    justify-content: end;
}

.box-title{
    font-weight: 500;
    line-height: 30px;
    font-size: 23px;
    margin-bottom: 40px;
}

.add_btn{
    display: flex;
    justify-content: end;
    /* padding: 0px 20px; */
}

.table{
    color: #575555;
    /* padding: 5px; */
}

footer{
    position: fixed;
    width: 100%;
    height:10%;
    border-top: 2px solid rgb(194, 192, 192);
}
footer a{
    text-decoration: none;
    color: rgb(68, 184, 238);
}



/* user */

.user-content{
    text-align: center;
    background-color: rgb(207, 204, 204);
    padding: 20px 0px;
}

.user_profile{
    border-radius: 50px;
    width: 200px;
    margin-top: 20px;
}

.user_name{
    font-weight: 500;
    line-height: 30px;
    font-size: 16px;
}

.radio_title{
    margin: 12px 50px 0px 15px;
}

.user_mail{
    font-weight: 400;
    line-height: 10px;
    font-size: 14px;
}

.profile_box{
    margin: 20px 10px;
}

.page_title{
    display: flex;
    justify-content: space-between;

}

.dropdown {

    position: relative;
    display: inline-block;
  }

.dropdown-content{
    display: none;
    position: absolute;
    right: 0px;
    background-color: white;
    width: 200px;
    padding: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    border-radius: 10px;
  }

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content h6{
    font-family: Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

.dropdown-content p{
    font-family: Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-size: small;
}

.profile_details{
    color: rgb(0, 183, 255);
    font-weight: 500;
    border: none;
    background-color: white;
    border-radius: 8px;
    padding: 7px 10px;
    font-size: 14px;
}

.profile_details:hover{
    background-color: rgb(0, 183, 255);
    color: white;
}

.logout{
    color: rgb(0, 183, 255);
    font-weight: 500;
    border: none;
    background-color: white;
    border-radius: 8px;
    padding: 7px 10px;
    font-size: 14px;

}

.logout a{
    color: rgb(0, 183, 255);
}

.logout a:hover{
    color: white;
}

.logout:hover{
    background-color: rgb(0, 183, 255);
    color: white;

}
